<% @title= "Sign In | " %>
<main class="container col-4">
  <div class="signup-form">
    <h2 class="text-center">Sign in to <span class="logo-style">MakersBnB</span></h2>
    <form action = '/user/sign_in' method = 'POST'>
      <label for='email'>
        Email*
      </label>
    	<input type = 'email' name = "email" placeholder = 'name@domain.com'/>
      <label for='password'>
        Password*
      </label>
    	<input type = 'password' name = "password" placeholder = 'your password' />
    	<input type = 'submit' value = "Submit" class="btn btn-blue"/>
    </form>
  </div>
</main>