<% @title = "Confirm Request | " %>

<h2>Request for '<%= @space %>'</h2>

<h4>
  Date: <%= format_date(@booking_request.start_date) %> - <%= format_date(@booking_request.end_date) %>
</h4>

<form action="/request/confirm" method="post">
    <input type='hidden' name='id' value='<%= @booking_request.id %>'>
  <input type='submit' value='Confirm Request'>
</form>
