<form action='/user/new' method='post'>
    <label for='first_name'>
        First Name
        <input type='text' name='first_name' />
    </label>

    <label for='last_name'>
        Last Name
        <input type='text' name='last_name' />
    </label>

    <label for='email'>
        Email
        <input type='email' name='email' />
    </label>

    <label for='password'>
        Password
        <input type='password' name='password' required />
    </label> 

    <label for='password_confirmation'>
        Password Confirmation
        <input type='password' name='password_confirmation' required />
    </label>

    <input type='submit' value='Sign-up' />
</form>

