<main class="container col-4">
    <div class="signup-form">
        <h2 class="text-center">Sign up to <span class="logo-style">MakersBnB</span></h2>
        <form action='/user/new' method='post'>
            <label for='first_name'>
                First Name*
            </label>
            <input type='text' name='first_name' placeholder = 'name' required/>

            <label for='last_name'>
                Last Name*
            </label>
            <input type='text' name='last_name' placeholder = 'last name' required/>

            <label for='email'>
                Email*
            </label>
            <input type='email' name='email' placeholder = 'name@domain.com' required/>

            <label for='password'>
                Password*
            </label>
            <input type='password' name='password' placeholder = 'your password' required />

            <label for='password_confirmation'>
                Password Confirmation*
            </label>
            <input type='password' name='password_confirmation' placeholder = 'confirm your password' required />

            <input type='submit' value='Sign-up' class="btn btn-blue"/>
        </form>
    </div>
</main>
