<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= !@title ? @title="MakersBnB": @title %></title>
  </head>
  <body>
    <header>
      <div class="logo">Make</div>
    </header>
    <%= yield %>
  </body>
</html>