<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= !@title ? @title="MakersBnB": @title %></title>
  </head>
  <body>
    <header>
      <div class="logo">Make</div>
      welcome <%=current_user.name if current_user%>
      <div id = 'ui'>
      <%if current_user %>
      <form action ='/' method = 'post'> 

      </form>  
      <%end%>
      </div> 
      </header>
       <% if flash[:errors] && !flash[:errors].empty? %>
      <ul id = 'errors'>
        <% flash[:errors].each do |error| %>
          <li> <%= error %> </li>
         <% end %> 
       <% end %> 
      </ul> 
    <%= yield %>
  </body>
</html>
