<h2> Sign in </h2>

<form action = '/user/sign_in' method = 'POST'>
<input type = 'email' name = "email" placeholder = 'name@domain.com' />
<input type = 'password' name = "password" />
<input type = 'submit' value = "Submit" />
</form>	
