<h1>
  Welcome <%= @user.first_name %>
</h1>

<% @title="All Spaces | MakersBnB" %>

<% if @spaces %>
  <ul><% @spaces.each do |space| %>
    <li><%= space.name %></li>
    <% end %>
  </ul>
<% end %>
<form action="/spaces/new" method="get">
  <input type="submit" value="List a Space">
</form>
