<html>
<head>
  <title>List a Space | MakersBnB</title>
</head>

<body>
  <h2>List a Space</h2>
    <form action="/spaces" method="get">
      <input type="submit" value="List a Space">
    </form>
</body>
</html>